{% extends 'base.html' %}

{% block content %}
    <h2>Available Books</h2>

    <table border="1" width="80%" align="center">
        <thead>
            <tr>
                <th>Name</th>
                <th>ISBN</th>
                <th>Author</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.get_category_display }}</td>
                <td>
                    <form action="{% url 'borrow' book.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Borrow</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align:center;">No books available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
